
<h1>What music do you like to listen today?</h1>
<% 
  require 'json'

  gen = Echonest::Genre.list('S6YKWF6QCDG012BBJ')
  g = gen.to_json
  json = JSON.parse (g)%>
  <div id = "multiples">
    <select id = "antes" name = "genres [name_genre]"  multiple="multiple ">
      <%= json['genres'].each do |genress| %>
          <option><%= genress['name'] %></option>     
        
      <%end%>
    </select>
  </div>
  
<br>
<div id = "selected">
  <form >
    <select id = "despues" name = "seleccionados" multiple = "multiple">
      <option> Selected</option>

    </select>
    <input type = "button" value= "Delete" id = "delete" />
    <input type = "button" value="Go" id = "go" />

  </form>
</div>
<p></p>
<script type="text/javascript">
  $("#antes").change (function (){
    var str = "";
    $("#antes option:selected").each (function(){
      str = $(this).text() + "\n";
      
    });
    $("#despues").append ('<option> '+str+' </option>');
  }).change();

  $("#delete").click (function(){
    $("#despues option:selected").each (function(){
      $(this).remove();     
    });
  });
  $("#go").click (function(){
    var a = [];
    $("#despues option").each (function(){
      if ($(this).val() != 'Selected')
        a.push ($(this).val());     
    });
    go (a);
  });

  function go (gen){
    
   $.ajax({
      type: 'POST',
      url: '/genres/aaa', 
      data: gen,
   });
   alert (gen);
 }
</script>


