<h1>El Fuuuuuukin Tindr de la música</h1>
<p>Esta página se encuentra en: app/views/welcome/index.html.erb</p>

<%= link_to 'Sign in with Spotify', '/auth/spotify' %>
<!-- 

<%= link_to 'Users', users_path %>
<%= link_to 'Songs', songs_path %>

-->
