<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Github project",   'https://github.com/Oscarvas/SoundList' %></li>
      <li><%= link_to "Contact", 'https://github.com/Oscarvas' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>